# Kernel build artifacts

*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.out
*.cmd

#Kernel modules nbuild system
Module.symvers
modules.order

# Temporary / build dirs

*.tmp
*.cmd
*.order
*.c.swp
*.mod.*

# kernel source
linux-source-*

# Backup / editor
*~
*.swp

# LOGS
dmesg.log

#kernel build leftovers
.tmp_versions/
